<!DOCTYPE html>
<html>
    <head>
	<title>Chess Online</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/menuButton.css')}}">
    </head>
    <body>
	<p style="text-align:center;font-family:Cursive">Welcome, {{nickname}}!</p>
	<p style="text-align:center"><img src="{{url_for('static', filename='assets/title.png')}}" alt="Chess Online" ></p>
        <p style="text-align:center"><button onclick="location.href='/playVsFriend'">PLAY VS. FRIEND</button></p>
        <p style="text-align:center"><button>PLAY VS. COMPUTER</button></p>
        <p style="text-align:center"><button onclick="location.href='https://en.wikipedia.org/wiki/Rules_of_chess'">RULES OF CHESS</button></p>
    </body>
</html>

